

main {
    padding: 20px;
    background-image: url(https://images2.alphacoders.com/913/913622.jpg);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.product, .offer {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.product img, .offer img {
    max-width: 100%;
}

.price {
    font-weight: bold;
    color: #f00;
}

.discount-price {
    color: #f00;
}

.original-price {
    text-decoration: line-through;
    color: #999;
}

.product-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.product {
    flex: 0 0 300px;
    margin-right: 20px;
    scroll-snap-align: start;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.product img {
    max-width: 100%;
}

.product:hover {
    transform: scale(1.05);
}
