body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Style du header */
header {
    background-color: black;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.header:after {
    content: '';
    display: block;
    width: 90%;
    height: 30px;
    margin: -30px auto 0;
    border-radius: 120px / 10px;
    box-shadow: 0px 0px 8px rgba(0,0,0,.6);
}

/* Style du logo */
header h1 a{
    font-size: 2rem;
    color: #d0a85c;
    @font-face { font-family: FritzQuadrata; src: url('font/Friz Quadrata Regular.ttf'); }
    font-family: FritzQuadrata;
    text-decoration: none;
}

header nav a {
    background-image: linear-gradient(
            to right,
            #d0a85c,
            #d0a85c 50%,
            white 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

header nav a:before {
    content: '';
    background: #d0a85c;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

header nav a:hover {
    background-position: 0;
}

header nav a:hover::before {
    width:100%;
}

/* Style de la barre de navigation */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Style des boutons "Profil" et "Se connecter" */
.user-actions a {
    color: #fff;
    text-decoration: none;
    padding-right: 10px;
    border-radius: 4px;
    z-index: 2;
}

.user-actions a:hover{
    background-color: #555555;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.no-select{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}